// all  colors palletes  for the project 
$white: #fff;
$gray: #6c757d;
$gray-dark: #343a40;
$primary: #F33F3F;
$secondary: #6c757d;
$tertiary :#1a6692;
$light: #f8f9fa;
$dark: #212529;
$border : .1rem solid #dddddd;
$lightdark :#343232;

// colors palettes end  here 